# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Cpanel upload
*.zip

# nuxt config
nuxt.config.ts
_nuxt.config.ts
__nuxt.config.ts