ENVIRONMENT="development"
IS_PESAPAL_LIVE=false
IS_NOWPAYMENTS_LIVE=false

SERVER_URL=

APP_URL_DEV=
APP_URL_PROD=

EXTERNAL_API_URL_DEV="http://localhost:3030"
EXTERNAL_API_URL_PROD="http://localhost:3030"

PESAPAL_CONSUMER_KEY_DEV=
PESAPAL_CONSUMER_KEY_PROD=

PESAPAL_URL_DEV="https://cybqa.pesapal.com/pesapalv3/api"
PESAPAL_URL_PROD="https://pay.pesapal.com/v3/api"

PESAPAL_CONSUMER_SECRET_DEV=
PESAPAL_CONSUMER_SECRET_PROD=

NOWPAYMENTS_URL_DEV="https://api.nowpayments.io"
NOWPAYMENTS_URL_PROD="https://api.nowpayments.io"

NOWPAYMENTS_API_KEY_DEV=
NOWPAYMENTS_API_KEY_PROD=
